<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetIGRPT.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProjetIGRPT.Properties.Settings.BdCompilationConnectionString"
            connectionString="Data Source=DEOGRACE-PC\SQLEXPRESS;Initial Catalog=BdCompilation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>